:root {
    --color1: #70C5D7;
    --color2: #ffca0f;
    --color3: #41766C;
    --color4: #DD883E;
    --color5: #f97561;
    --color8: #2C2524;
    --negro: #000000;
    --blanco: #FFFFFF;
    --grisClaro: #f2f2f2;
    --gris: #afafaf;
    --grisOscuro: #454545;
    --rojo: rgb(177, 3, 3);
    --fuentePrincipal: 'Staatliches', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 5rem auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
}

h1 {
    font-size: 4.9rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

ul {
    text-decoration: none;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}

/* Botones*/

.boton {
    background-color: var(--color1);
    color: var(--negro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

.boton:hover {
    background-color: var(--color2);
    cursor: pointer;
}

@media (max-width: 480px) {
    .boton {
        width: auto;
    }
}

/** Header **/

header {
    background-color: var(--blanco);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
    font-size: 5rem;
    color: var(--color8);
    width: 8rem;
}

.logo img {
    padding-left: 2rem;
    width: 20rem;
    transition: all 0.3s;
    margin: 0;
}

header .logo img:hover {
    transform: scale(1.5);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 2rem;
    padding: 2rem;
    color: var(--color8);
    display: block;
}

header .navbar .active {
    color: var(--color4);
    text-transform: uppercase;
    font-weight: 700;
}

header .navbar ul li a:hover {
    background: var(--color4);
    color: var(--blanco);
}

header .navbar ul li ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 15rem;
    background: var(--grisClaro);
    display: none;
    z-index: 100 !important;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 20rem;
    top: 0;
}

header .navbar ul li:hover>ul {
    display: unset;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 5rem;
    color: var(--color8);
    cursor: pointer;
    display: none;
}

.campos-requeridos {
    background-color: var(--rojo);
    color: var(--blanco);
    margin: 1rem 0;
    text-align: center;
}

@media(max-width:882px) {
    header {
        padding: 2rem;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        background: var(--blanco);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        display: none;
        z-index: 100;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #f0f0f0;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
        left: 0;
    }
}

.login {
    color: var(--color8);
    display: flex;
    padding: 0rem 5rem;
    margin: 1rem;
    color: var(--color8);
    z-index: 100;
}

.login:hover {
    color: var(--color4);
    background-color: var(--blanco);
}

.login p {
    font-size: 3rem;
    margin: 0rem;
}

.login li:hover {
    background: var(--color4);
    color: var(--blanco)
}

.login ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background: var(--grisClaro);
    display: none;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
}

.login ul li a {
    padding: 1rem 2rem;
    color: var(--color8);
    display: block;
}

.login ul li a:hover {
    background: var(--color4);
    color: var(--blanco);
}

@media (max-width: 882px) {
    .login {
        display: block;
        padding: 0rem 0rem;
    }
}

/*---------------------- Footer -----------------------*/
footer {
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: block;
    text-align: center;
}

.fcontenedor {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 1px -7px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--color1);
}

@media (max-width: 882px) {
    .fcontenedor {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

.fcontenedor__seccion {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.fcontenedor__seccion .ftitulo {
    font-size: 1.5rem;
}

.fcontenedor__imagen {
    padding-left: 2rem;
    width: 10rem;
    padding: 0;
}

.fcontenedor__info {
    color: var(--color8);
}

.copyright {
    text-align: center;
    color: var(--blanco);
    background-color: var(--color8);
}

.copyright p {
    margin: 0;
}

/*---------------------- Contenido -----------------------*/



.bg {
    color: var(--color8);
    height: 100%;
    padding: 3rem;
    min-height: 100vh;
}

.bg_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .bg .bg_img img {
    max-width: 50%;
}

/*---------------------- Cards -----------------------*/

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.card {
    border: 1px solid var(--grisOscuro);
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 3rem;
    color: var(--color8);
}

.card p {
    font-size: 5rem;
    color: var(--color8);
}

.total-citas {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.at {
    background-color: var(--color5);
}

.as {
    background-color: var(--color2);
}

.ca {
    background-color: var(--color3);
}

/*---------------------- Tabla -----------------------*/

/* Tabla */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--blanco);
    color: var(--color8);

}

th,
td {
    text-align: left;
    padding: .8rem;
}


thead {
    background-color: var(--color8);
    color: var(--blanco);
}

tr:nth-child(even) {
    background-color: var(--grisClaro);
}

/* Btn cancelación */
button {
    background-color: var(--color5);
    color: var(--blanco);
    border: none;
    padding: .5rem 1rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--color8);
    color: var(--blanco);
}

/* ---------------------------------- */


/* Estilos para el formulario */
.contact-wrap {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: var(--color4);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la información */
.info-wrap {
    flex: 1;
    padding: 20px;
    background-color: var(--color4);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-wrap h3 {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--color4);
    font-size: 20px;
    margin-right: 10px;
}

.text {
    flex: 1;
    font-size: 14px;
}

.dbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Media queries */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .info-wrap,
    .contact-wrap {
        margin-bottom: 20px;
    }
}