:root {
    --color1: #70C5D7;
    --color2: #ffca0f;
    --color3: #41766C;
    --color4: #DD883E;
    --color5: #f97561;
    --color8: #2C2524;

    --negro: #000000;
    --blanco: #FFFFFF;

    --grisClaro: #f2f2f2;
    --gris: #afafaf;
    --grisOscuro: #454545;

    --fuentePrincipal: 'Staatliches', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 5rem auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
}

h1 {
    font-size: 4.9rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

ul {
    text-decoration: none;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}

/* Botones*/

.boton {
    background-color: var(--color1);
    color: var(--negro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

.boton:hover {
    background-color: var(--color2);
    cursor: pointer;
}

@media (max-width: 480px) {
    .boton {
        width: auto;
    }
}

/** Header **/

header {
    background-color: var(--blanco);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
    font-size: 5rem;
    color: var(--color8);
    width: 8rem;
}

.logo img {
    padding-left: 2rem;
    width: 20rem;
    transition: all 0.3s;
    margin: 0;
}

header .logo img:hover {
    transform: scale(1.5);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 2rem;
    padding: 2rem;
    color: var(--color8);
    display: block;
}

header .navbar .active {
    color: var(--color4);
    text-transform: uppercase;
    font-weight: 700;
}

header .navbar ul li a:hover {
    background: var(--color4);
    color: var(--blanco);
}

header .navbar ul li ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 20rem;
    background: var(--grisClaro);
    display: none;
    z-index: 100
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 20rem;
    top: 0;
}

header .navbar ul li:hover>ul {
    display: unset;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 5rem;
    color: var(--color8);
    cursor: pointer;
    display: none;
}

@media(max-width:882px) {
    header {
        padding: 2rem;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        background: var(--blanco);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: var(--blanco);
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
        left: 0;
    }
}

.login {
    color: var(--color8);
    display: flex;
    padding: 0rem 5rem;
    margin: 1rem;
    color: var(--color8);
    z-index: 100;
}

.login:hover {
    color: var(--color4);
    background-color: var(--blanco);
}

.login p {
    font-size: 3rem;
    margin: 0rem;
}

.login li:hover {
    background: var(--color4);
    color: var(--blanco)
}

.login ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background: var(--grisClaro);
    display: none;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
}

.login ul li a {
    padding: 1rem 2rem;
    color: var(--color8);
    display: block;
}

.login ul li a:hover {
    background: var(--color4);
    color: var(--blanco);
}

@media (max-width: 882px) {
    .login {
        display: block;
        padding: 0rem 0rem;
    }
}

/*---------------------- Footer -----------------------*/
footer {
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: block;
    text-align: center;
}

.fcontenedor {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 1px -7px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--color1);
}

@media (max-width: 882px) {
    .fcontenedor {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

.fcontenedor__seccion {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.fcontenedor__seccion .ftitulo {
    font-size: 1.5rem;
}

.fcontenedor__imagen {
    padding-left: 2rem;
    width: 10rem;
    padding: 0;
}

.fcontenedor__info {
    color: var(--color8);
}

.copyright {
    text-align: center;
    color: var(--blanco);
    background-color: var(--color8);
}

.copyright p {
    margin: 0;
}

/*---------------------- Contenido -----------------------*/

.informacion {
    flex: 2;
}

.entrada {
    margin-right: 5rem;
}

.service_icon {
    width: 10rem;
}

.entrada .imagen {
    margin-top: 3rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.5);
    transform: scale(1) rotate(-3deg);
    transition: transform 0.3s ease-out;
}

.entrada img:hover {
    transform: scale(1.05) rotate(3deg);
}

.sidebar {
    flex: 1;
}

.enlace {
    justify-content: center;
}

.formulario {
    padding: 2rem;
    background-color: var(--grisClaro);
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario fieldset {
    border: none;
    padding: 0;
}

.formulario h3 {
    margin-bottom: 2rem;
}

.formulario label,
.formulario input,
.formulario select {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.formulario input,
.formulario select {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.formulario input[type="submit"] {
    background-color: var(--color1);
    color: #fff;
    font-size: 1.8rem;
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: var(--color5);
}

/* Mensaje formulario*/
.contenedor-mensaje {
    color: var(--blanco);
    background-color: var(--color4);
    margin-top: 1rem;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: 1rem
}


@media (max-width: 768px) {

    .contenedor {
        flex-direction: column;
        margin: 5rem auto;
    }

    .entrada {
        margin-right: 0;
    }

    .service_icon {
        width: 6rem;
    }

    .entrada .imagen {
        width: 100%;
        margin-bottom: 5rem;
    }

    .formulario {
        padding: 1.5rem;
    }

    .formulario h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .formulario label,
    .formulario input,
    .formulario select {
        font-size: 1.4rem;
    }

    .formulario input,
    .formulario select {
        padding: 1rem;
        font-size: 1.4rem;
    }

    .formulario input[type="submit"] {
        font-size: 1.6rem;
        padding: 1rem;
    }
}