* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Belanosima', sans-serif;
}

:root {
    --color1: #70C5D7;
    --color2: #E6BC64;
    --color3: #EAD199;
    --color4: #DD883E;
    --color5: #DE8871;
    --color6: #FFFFFF;
    --color7: #A3A2A3;
    --color8: #2C2524;
    --color9: #000000;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10 px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*----------------------- Body -----------------------*/
body {
    min-height: 100vh;
    background-color: var(--color6);
    font-size: 1.5rem;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

a {
    color: var(--color8);
    text-decoration: none;
}

img {
    width: 100%;
}

p {
    font-size: 1.8rem;
    color: var(--blanco);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(var(--color8));
    font-family: var(--funtePrincipal);
}

h1 {
    font-size: 4rem;
    color: var(--color8);
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*---------------------- Nav -----------------------*/
header {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--color8);
    width: 70px;
}

header .logo img {
    padding-left: 10px;
    width: auto;
    transition: all 0.3s;
    margin: 0;
}

header .logo img:hover {
    transform: scale(1.5);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--color8);
    display: block;
}

header .navbar .active {
    color: var(--color4);
}

header .navbar ul li a:hover {
    background: var(--color8);
    color: var(--color6);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--color6);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 50px;
    color: var(--color8);
    cursor: pointer;
    display: none;
}


@media(max-width:882px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        background: var(--color6);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #f0f0f0;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
        left: 0;
    }

}

/*---------------------- Contenedor -----------------------*/

.contenedor {
    min-height: 100vh;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 30px 30px;
    margin: 0;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: -120px;
}

.contenedorTexto { 
    margin: 3%;
}


/*---------------------- Nosotros -----------------------*/

.carousel-caption p{
   
    color: var(--color9);
}

.carousel-caption h5{
   
  font-size: 15px;
}

.carousel-inner .carousel-item img {
    width: 90%;
    height: 80%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 3;
}


.carousel-control-prev {
    left: 40px;
}

.carousel-control-next {
    right: 40px;
}

#about {
    background-color: var(--color6);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; 
    display:flex;
    align-items: center;
}

#about .text {
    margin-bottom: 40px;
     text-align: center; 
     text-justify: distribute-all-lines;
     
}


#about h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color8);
    margin-bottom: 20px;
    text-align: center; 
}

#about p {
    font-size: 18px;
    color: var(--color8);
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center; 
}

#about .btn-secondary {
    background-color: var(--color2);
    color: var(--color8);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

#about .btn-secondary:hover {
    background-color: var(--color1);
}

/* Estilos para la sección Medicos veterinarios */

.imagen {
    width:50%;
    border-radius: 15px;
}
#medicos {
    background-color: var(--color6);
    padding-top: 50px;
    padding-bottom: 80px;
}

#medicos h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color8);
    margin-bottom: 40px;
    text-align: center;
}

#medicos .row.justify-content-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#medicos .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

#medicos .card-body {
    background-color: var(--color6);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#medicos .card-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color8);
    margin-bottom: 10px;
}

#medicos .lead {
    font-size: 18px;
    color: var(--color8);
    margin-bottom: 20px;
}

#medicos .btn {
    background-color: var(--color2);
    color: var(--color8);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
}

#medicos .btn:hover {
    background-color: var(--color1);
}

@media (max-width: 420px) {
    #medicos .row.justify-content-center {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #medicos .col-lg-4 {
        flex: 0 0 auto;
        max-width: none;
        padding: 0 5px;
        margin-bottom: 30px;
        white-space: nowrap;
    }
}



/*---------------------- Footer -----------------------*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer .container {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    padding: 5%;
    justify-content: center;
    text-align: center;
    background-color: var(--color1);
}

footer .container .sec {
    position: relative;
    margin: auto;
}

.sec ul li {
    list-style-type: none;
}

.footer_logo {
    display: block;
    width: 80px;
}

a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color6);
    text-align: center;
    background: var(--color8);
}

@media (max-width: 882px) {

    footer .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1;
        justify-content: center;
    }

    footer .container .sec ul li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer .container .sec ul li p {
        font-size: 16px;
    }
}




  
   












