* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font-family: 'Belanosima', sans-serif;
}

:root {
  --color1: #70C5D7;
  --color2: #E6BC64;
  --color3: #EAD199;
  --color4: #DD883E;
  --color5: #DE8871;
  --color6: #FFFFFF;
  --color7: #A3A2A3;
  --color8: #2C2524;
  --color9: #000000;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10 px*/
}




/*
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}*/


.imagenes {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.imagen-con-texto {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.imagen-con-texto img {
  width: 50px;
  margin-right: 10px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: 50px;
}

.imagenes {
  flex-basis: 48%;
}

.formulario {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.texto {
  color: #000000;

}



.formulario {
  border: 1px solid #ced4da;
  padding: 50px;
  border-radius: 10px;
  margin-top: -110px;
  
}


.titulo {
  margin-top: 120px;
  margin-left: calc(15.5% - 130px);
  width: fit-content;
  text-align: center;
}



.titulo p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .titulo {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    text-align: left;
  }
  
  .container {
    flex-direction: column;

  }
  
  .formulario {
    margin-top: 20px;
    align-self: stretch;
  }
}
.titulo {
  margin-top: 120px;
  margin-left: calc(15.5% - 130px);
  width: fit-content;
  text-align: left;
}

.titulo h1 {
  font-size: 34px;
}

.titulo p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .titulo {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
   
  }
  
  .formulario {
    margin-top: 20px;
    align-self: stretch;
  }
}

#mascotas {
  margin-top: 10px;
  width: 80%;

}

textarea#exampleFormControlTextarea1 {
  height: 120px;
  resize: vertical;
}

button.btn-primary {
  margin-top: 30px;
}

.texto:hover {
  font-size: 18px; 
  color: blue;  
}

/*----------------------- Body -----------------------*/
body {
  background-color: var(--color6);
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  color: var(--color8);
  text-decoration: none;
  font-family: var(--funtePrincipal);
}

img {
  width: 100%;
}

p {
  font-size: 1.8rem;
  color: var(--blanco);
}

h1,
h2,
h3 {
  text-align: center;
  color: var(var(--color8));
  font-family: var(--funtePrincipal);
}

h1 {
  font-size: 4rem;
  color: var(--color8);
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}


/*---------------------- Footer -----------------------*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color1);
  justify-content: flex-start;

}

footer .container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  padding: 5%;
  justify-content: center;
  text-align: center;
}

footer .container .sec {
  position: relative;
  margin: auto;
}

.sec ul li {
  list-style-type: none;
}

.footer_logo {
  display: block;
  width: 80px;
}

a ion-icon {
  width: 50px;
}

.copyright {
  color: var(--color6);
  text-align: center;
  background: var(--color8);
}

/*---------------------- media -----------------------*/

@media (max-width: 882px) {
  footer .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 1;
      justify-content: center;
  }

  footer .container .sec ul li img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}