* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Belanosima', sans-serif;
}

:root {
    --color1: #70C5D7;
    --color2: #E6BC64;
    --color3: #EAD199;
    --color4: #DD883E;
    --color5: #DE8871;
    --color6: #FFFFFF;
    --color7: #A3A2A3;
    --color8: #2C2524;
    --color9: #000000;
}





/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 70.5%;
    /* 1rem = 10 px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  
  .nav {
    height: 100px;
    width: 100%;
    background-color: #70C5D7;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
    float: left; 
    cursor: pointer;  
  }

  
    .nav-header img{
    padding-left: 10px;
    height: 70px;
    width: auto;
    transition:all 0.3s ;
  }

  .nav-header  img:hover{
    transform: scale(1.2);
  }
  
  .nav-header  p{
    padding-left: 15px;
    font-weight: 700;
    margin: 0;
}

   .nav-header span{
    color: #DD883E;
    font-weight: 700;
   }
  
    .nav-btn {
    display: none;
  }
    
  .nav >  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0;
    list-style: none; 
  }

  .nav-links a {
    text-align: center;
    padding: 20px;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
}

.nav-links li {
    text-align: center;
    padding: 20px;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
}

 .nav-links a:hover{
    color: #DD883E;
    transform:scale(1.1);
  }
  
 
  .nav >  #nav-check {
    display: none;
  }

  .nav-links .btn button{
    font-weight: 700;
    color:#000000;
    border: #ffffff;
    padding: 9px 25px;
    background:#DD883E;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
   }

   .nav-links .btn button:hover{
    background-color: #eceff1;
     color: #70C5D7;
    transform:scale(1.1)
   }  
 
/*---------------------- Card -----------------------*/
   .card-group{
    background-size: cover;
    background-position: center;
    padding: 10px 30px;
    margin: 0;
    justify-content: center;
    text-align: center; 
    background-color: #eceff1;
    position:relative ;
    border: none;
  } 
 
   .card {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

  .card-group > .card > .card-body {
    background-color: #FFFFFF;
    opacity: 1;   
    padding-right: 10px;  
  }

  .card-text  {
    font-size: 1.5em;
    border-radius: 50px;  
    border: none; 
  }

 .card-group > .card > .card-img-top {
    padding: 20px;
    width:80%;
    height: 80%;
    border-radius: 50px;
  }

  .card-body .btn button{
    font-weight: 700;
    color:#000000;
    border: #ffffff;
    padding: 9px 25px;
    background:#DD883E;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
   }

   .card-body .btn button:hover{
    background-color: #eceff1;
     color: #70C5D7;
    transform:scale(1.1)
   }  

  .card-group2 > .card {
    height: 408px;
    overflow-y: auto; 
    flex-grow: 1;
    background-color: #eceff1;
    background-position: 50% 126px;
    position: relative;
    padding:0;
    border: none;
    margin:0;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;  
  }

  .col-md-15{
    position: absolute;
    top:0;
    left: 0;
    float: left;
    margin-right: 0px;
    display: flex;
    align-items: center;
    padding-left: 50px;
  } 

.titulo {
    margin-left: 10px; 
  }
   
  
  @media (max-width:860px) {
    .nav >  .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;      
    }   

    .nav {
        display: inline-block;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 9999;
      }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;    
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: initial;
      display: block;
      width: 100%;
      background-color: #70C5D7;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;    
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > .nav-links > li {
        display: block;
        width: 100%;
      }

      .nav > .nav-links > li > ul > li {
        display: block;
        width: 100%;
      }

    .nav >  #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav >  #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

   }

  