* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Belanosima', sans-serif;
}

:root {
    --color1: #70C5D7;
    --color2: #E6BC64;
    --color3: #EAD199;
    --color4: #DD883E;
    --color5: #DE8871;
    --color6: #FFFFFF;
    --color7: #A3A2A3;
    --color8: #2C2524;
    --color9: #000000;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10 px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*----------------------- Body -----------------------*/
body {
    background-color: var(--color6);
    font-size: 1.5rem;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

a {
    color: var(--color8);
    text-decoration: none;
}

img {
    width: 100%;
}

p {
    font-size: 1.8rem;
    color: var(--blanco);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(var(--color8));
    font-family: var(--funtePrincipal);
}

h1 {
    font-size: 4rem;
    color: var(--color8);
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*---------------------- Nav -----------------------*/
nav {
    background-color: var(--color6);
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.nav_logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--color8);
    font-size: 2.4rem;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul li a:hover {
    color: var(--color4);
    transition: .2s;
}

nav ul li a ion-icon {
    color: var(--color8);
    font-size: 24px;
    /* Cambiar la posición del icono */
    position: relative;
    top: 5px;
    left: 10px;
}

.checkbtn {
    font-size: 30px;
    color: var(--color8);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.active {
    color: var(--color5);
}

#check {
    display: none;
}


@media (max-width: 952px) {

    /*-----------NAV------------*/
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 20px;
    }
}

@media (max-width: 710px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 10vh;
        background: var(--color1);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        background: none;
        color: var(--color4);
    }

    #check:checked~ul {
        left: 0;
    }

}

/*---------------------- Contenedor -----------------------*/

.contenedor {
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 30px 30px;
    margin: 0;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.box {
    padding: 30px;
    border-radius: 50px;
    background-color: var(--color6);
}



/*---------------------- Footer -----------------------*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer .container {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    padding: 5%;
    justify-content: center;
    text-align: center;
    background-color: var(--color1);
}

footer .container .sec {
    position: relative;
    margin: auto;
}

.sec ul li {
    list-style-type: none;
}

.footer_logo {
    display: block;
    width: 80px;
}

a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color6);
    text-align: center;
    background: var(--color8);
}

@media (max-width: 882px) {
    footer .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1;
        justify-content: center;
    }

    footer .container .sec ul li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer .container .sec ul li p {
        font-size: 16px;
    }
}

/*----------------------- Login -----------------------*/
.boxLogin {
    padding: 30px 30px;
    margin: 0 auto;
    background-color: var(--color6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.boxLogin h1 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 30px;
}

.boxLogin img {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 100px;
}

.boxLogin p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.boxLogin form {
    background-color: var(--color6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.boxLogin .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    padding: 0;
}

.boxLogin .form-group label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid var(--color6);
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.boxLogin form button {
    background-color: var(--color2);
    color: var(--color6);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.boxLogin form button:hover {
    background-color: var(--color1);
    color: var(--color8);
}

.loginLink a {
    color: var(--color5);
    text-decoration: none;
    margin-bottom: 20px;
}

.loginLink a:hover {
    color: var(--color1);
}

.loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
