* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font-family: 'Belanosima', sans-serif;
}

:root {
    --color1: #70C5D7;
    --color2: #E6BC64;
    --color3: #EAD199;
    --color4: #DD883E;
    --color5: #DE8871;
    --color6: #FFFFFF;
    --color7: #A3A2A3;
    --color8: #2C2524;
    --color9: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10 px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--color6);
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    color: var(--color8);
    text-decoration: none;
    font-family: var(--funtePrincipal);
}

img {
    width: 100%;
}

p {
    font-size: 1.8rem;
    color: var(--blanco);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(var(--color8));
    font-family: var(--funtePrincipal);
}

h1 {
    font-size: 4rem;
    color: var(--color8);
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.encierro {
    /* display: flex; */
    background-color: var(--color1);
    padding: 3%;
}

.nombreServicio {
    text-align: left;
    margin-left: 5%;
}

.imagen {
    width: 35%;
    margin-left: 5%;
}

.contenedor-imagen2 {
    display: flex;
    justify-content: right;
}

.imagen2 {
    width: 20%;
    
}

.acercaServicio {
    text-align: left;
    margin-top: 2%;
    margin-left: 1%;
}

.descripcion {
    width: 60%;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.botonAgendar {
    background-color: var(--color5);
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    /* border: 2px solid var(--color5); */
}

.botonAgendar:hover {
    background-color: #008CBA;
    color: white;
}

.contenedor-imagen3 {
    display: flex;
    justify-content: center;
}

.imagen3 {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 30% 
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color1);
    justify-content: flex-start;

}

footer .container {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    padding: 5%;
    justify-content: center;
    text-align: center;
}

footer .container .sec {
    position: relative;
    margin: auto;
}

.sec ul li {
    list-style-type: none;
}

.footer_logo {
    display: block;
    width: 80px;
}

a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color6);
    text-align: center;
    background: var(--color8);
}

/*---------------------- media -----------------------*/

@media (max-width: 882px) {
    footer .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1;
        justify-content: center;
    }

    footer .container .sec ul li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



