* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font-family: 'Belanosima', sans-serif;

}

:root {
    --color1: #70C5D7;
    --color2: #E6BC64;
    --color3: #EAD199;
    --color4: #DD883E;
    --color5: #DE8871;
    --color6: #FFFFFF;
    --color7: #A3A2A3;
    --color8: #2C2524;
    --color9: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10 px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--color6);
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    color: var(--color8);
    text-decoration: none;
    font-family: var(--funtePrincipal);
}

img {
    width: 100%;
}

p {
    font-size: 1.8rem;
    color: var(--blanco);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(var(--color8));
    font-family: var(--funtePrincipal);
}

h1 {
    font-size: 4rem;
    color: var(--color8);
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.contenedorServicios {
    min-height: 100vh;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 30px 30px;
    margin: 0;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.encierro {
    /* display: flex; */
    background-color: var(--color1);
    padding: 3%;
    border-radius: 15px;
}

.nombreServicio {
    text-align: left;
    margin-left: 5%;
}

.imagen {
    width: 45%;
    margin-left: 5%;
    border-radius: 15px;
}

.contenedor-imagen2 {
    display: flex;
    flex-direction: row;
    justify-content: right
}

.imagen2 {
    width: 30%;
}

.acercaDe {
    height: 0%;
    width: 25%;
}

.acercaServicio {
    text-align: left;
    margin-top: 2%;
    margin-left: 1%;
}

.descripcion {
    width: 60%;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.botonAgendar {
    background-color: var(--color5);
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
}

.botonAgendar:hover {
    background-color: #008CBA;
    color: white;
}

.contenedor-imagen3 {
    display: flex;
    justify-content: center;
}

.imagen3 {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 30%;
    border-radius: 15px;

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer .container {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    padding: 5%;
    justify-content: center;
    text-align: center;
    background-color: var(--color1);
}

footer .container .sec {
    position: relative;
    margin: auto;
}

.sec ul li {
    list-style-type: none;
}

.footer_logo {
    display: block;
    width: 80px;
}

a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color6);
    text-align: center;
    background: var(--color8);
}

@media (max-width: 882px) {

    footer .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1;
        justify-content: center;
    }

    footer .container .sec ul li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer .container .sec ul li p {
        font-size: 16px;
    }
}

/*---------------------- Nav -----------------------*/
header {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--color8);
    width: 70px;
}

header .logo img {
    padding-left: 10px;
    width: auto;
    transition: all 0.3s;
    margin: 0;
}

header .logo img:hover {
    transform: scale(1.5);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--color8);
    display: block;
}

header .navbar .active {
    color: var(--color4);
}

header .navbar ul li a:hover {
    background: var(--color8);
    color: var(--color6);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--color6);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 50px;
    color: var(--color8);
    cursor: pointer;
    display: none;
}


@media(max-width:882px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        background: var(--color6);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #f0f0f0;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
        left: 0;
    }

}